/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.left{
  float: left;
}

.btn{
  padding: 10px 20px;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.btnfull{
  color: white;
  background-color: #fe775a;
}

.searchazure{
  color: #2bb2c8;
}


.container{
  width: 80%;
  margin: auto;
}

/* _________________________________________________ */

/* HEADER */

header li{
  display: inline-block;
  padding: 0 10px;
}

header a{
  text-decoration: none;
}

.top-nav{
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid #32495b;
}

.contact-nav{
  width: 50%;
  height: 80px;
  line-height: 80px;
  text-align: left;
}

.contact-nav .languages{
  border-right: 1px solid black;
  padding-right: 15px;
  margin-right: 15px;
}

.log-in-nav{
  width: 50%;
  height: 80px;
  line-height: 80px;
  text-align: right;
}

.main-nav{
  height: 90px;
  line-height: 90px;
  box-shadow: 0 4px 2px -2px rgba(136, 136, 136, 0.54);
}

.main-nav .logo{
  width: 20%;
  padding-top: 10px;
}

nav{
  width: 80%;
  text-align: right;
}

nav i {
  margin: 0 5px;
}













/* _________________________________________________ */
